/* Write our CSS in here */
@import url(https://fonts.googleapis.com/css?family=Source+Code+Pro:200,300,400,500,600,700,900);

/* What we are selecting */
h1 {
    /* How to style it */
    color: purple;
    font-size: 70px;
    font-weight: 200;
    text-transform: uppercase;
    border-top: 5px solid;
}

body {
    background-color: #F69680;
    color: #2E1263;
    font-family: "Source Code Pro";
    font-weight: 200;
}

img {
    height: 500px;
    border-radius: 50%;
}

#container {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    height: 100vh;
}

button {
    /* Space outside of the button box */
    margin: 30px auto 0;
    /* Space inside the button box */
    padding: 20px 25px;
    background-color: #F69680;
    color: #2E1263;
    font-size: 14px;
    text-align: center;
    border: 1px solid  #2E1263;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 4px;
    outline: none;
}

button:hover {
    transition: 0.3s;
    background-color: #2E1263;
    color: #F69680;
    text-decoration: underline;
}

p {
    font-size: 20px;
}